$blueHighlight: hsl(238, 40%, 52%);
$blueHighlightHex: #5457b6;
$blueHighlightHover: hsl(239, 57%, 85%);
$redHighlight: hsl(358, 79%, 66%);
$redHighlightHover: hsl(357, 100%, 86%);
$textGray: hsl(211, 10%, 45%);
