.thread {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.replyContainer {
  padding-left: 5%;
  border-left: 3px solid hsl(223, 19%, 93%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 850px;
  margin-left: auto;
}
