@import "../../styles/variables";

.commentCard {
  position: relative;
  background: #fff;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
    &__avatar {
      width: 35px;
    }
    &__userName {
      font-weight: 500;
    }
    &__currentUserBadge {
      background: $blueHighlight;
      padding: 4px 8px;
      border-radius: 3px;
      color: #fff;
      font-weight: 500;
      line-height: 1;
      margin-left: -5px;
      font-size: 0.9rem;
    }
    &__createdAt {
      color: $textGray;
    }
  }

  &__comment {
    color: $textGray;
    line-height: 1.5;

    .replyTo {
      color: $blueHighlight;
      font-weight: 500;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    button {
      background: none;
      outline: none;
      border: none;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;

      svg {
        margin-right: 10px;
      }
    }

    .btn {
      color: $blueHighlight;
    }

    .btn:hover {
      color: $blueHighlightHover;
    }

    .btn:hover svg path {
      fill: $blueHighlightHover;
    }

    .deleteBtn {
      color: hsl(358, 79%, 66%);
    }

    .deleteBtn:hover {
      color: $redHighlightHover;
    }

    .deleteBtn:hover svg path {
      fill: $redHighlightHover;
    }
  }
}

.replyToComment {
  background: #fff;
  margin-top: -10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;

  textarea {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid $blueHighlight;
    padding: 10px 15px;
    cursor: pointer;
  }

  &__img {
    width: 40px;
  }

  &__button {
    margin-left: auto;
    padding: 10px;
    background: $blueHighlight;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
  }

  &__button:hover {
    background: $blueHighlightHover;
  }
}
